<?xml version="1.0"?>
<!--
  ~ @author <Yoan And Bertrand> yoan.matchrpro@gmail.com
  ~ @copyright Copyright (c) 2023  Materiel-chr-pro (https://materiel-chr-pro.com)
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Mcp_Theory" setup_version="1.0.1"/>
</config>
